<style>body { color: #222; font-family: sans-serif; }</style>

<h1>A Customized template for <em>Monittr</em></h1>

<p>You can customize the template as you wish,
  just set the path to it with something like this in your application:</p>

<pre>set :template,  Proc.new { File.join(root, 'template.erb') }</pre>

<hr>

<% cluster.servers.each do |server| %>
  <h2>Server: <em><%= server.system.name %></em> // status: <%= server.system.status %></h2>

  <h3>Processes</h3>
  <ul>
    <% server.processes.each do |process| %>
    <li><%= process.name %></li>
    <% end %>
  </ul>

<% end %>
